<%# Main page %>
<div>
  <nav>
    <a href="">logo</a>
    <a href="">home</a>
    <a href="">about</a>
    <%= link_to "Sign up", new_user_registration_path %>
    <%= link_to 'Log in', user_session_path %>
    <%= link_to 'Try now', new_user_registration_path %>
  </nav>
  <main class="">
  <div class="">
    <h1 class="">Track Your Crypto Portfolio Like a Pro</h1>
    <p class="">
      Take control of your crypto investments with <strong>CryptoAll</strong>.
      Easily save your trades, monitor performance, and stay ahead of the market.
    </p>
    <div class="">
      <%# Sign-up Button %>
      <%= link_to "Get Started Now", new_user_registration_path, class: "" %>
      <%# Learn More Button %>
      <%= link_to "Learn More",new_user_registration_path , class: "btn btn-secondary" %>
    </div>
  </div>
</div>
</div>
