<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Cryptoall" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <link rel="stylesheet" href="/assets/application.scss">

    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-light">
    <% if user_signed_in? %>
      <%= render "shared/logged_navbar" %>
    <% else %>
      <%= render "shared/guest_navbar" %>
    <% end %>
      <%= yield %>
     <% if notice %>
    <div class="alert alert-success fixed-bottom alert-dismissible fade show" role="alert">
      <%= notice %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% end %>

  <!-- Show the alert only if an alert exists -->
  <% if alert %>
    <div class="alert alert-danger fixed-bottom alert-dismissible fade show" role="alert">
      <%= alert %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% end %>
    </main>
  </body>
</html>
